{% extends 'base.html.twig' %}

{% block title %}Direction de Transition - Harmonie & Sens{% endblock %}

{% block navbar %}
    {% include 'components/navbar_client.html.twig' %}
{% endblock %}

{% block body %}
<section class="page-header">
    <div class="container">
        {# En-tête de page vide #}
    </div>
</section>

<section class="service-content">
    <div class="container">
        {# Contenu du service vide #}
    </div>
</section>

<section class="service-details">
    <div class="container">
        {# Détails et tarifs vides #}
    </div>
</section>
{% endblock %}
