<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Harmonie & Sens{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/global.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block navbar %}{% endblock %}
    
    <main>
        {% block body %}{% endblock %}
    </main>

    {% include 'components/footer.html.twig' %}

    {% block javascripts %}{% endblock %}
</body>
</html>
