{% extends 'base.html.twig' %}

{% block title %}Méthodologie - Harmonie & Sens{% endblock %}

{% block navbar %}
    {% include 'components/navbar_client.html.twig' %}
{% endblock %}

{% block body %}
<section class="page-header">
    <div class="container">
        {# En-tête de page vide #}
    </div>
</section>

<section class="methodology-content">
    <div class="container">
        {# Contenu méthodologie vide #}
    </div>
</section>
{% endblock %}
