{% extends 'base.html.twig' %}

{% block title %}Tableau de bord - Admin{% endblock %}

{% block navbar %}
    {% include 'components/navbar_admin.html.twig' %}
{% endblock %}

{% block body %}
<section class="admin-header">
    <div class="container">
        <h1>Tableau de bord</h1>
    </div>
</section>

<section class="admin-stats">
    <div class="container">
        {# Statistiques vides #}
    </div>
</section>

<section class="admin-recent">
    <div class="container">
        {# Activités récentes vides #}
    </div>
</section>
{% endblock %}
