{% extends 'base.html.twig' %}

{% block title %}Édition utilisateur - Admin{% endblock %}

{% block navbar %}
    {% include 'components/navbar_admin.html.twig' %}
{% endblock %}

{% block body %}
<section class="admin-header">
    <div class="container">
        <h1>Édition utilisateur</h1>
    </div>
</section>

<section class="admin-form">
    <div class="container">
        {# Formulaire utilisateur vide #}
    </div>
</section>
{% endblock %}
