{% extends 'base.html.twig' %}

{% block title %}Édition de contenu - Admin{% endblock %}

{% block navbar %}
    {% include 'components/navbar_admin.html.twig' %}
{% endblock %}

{% block body %}
<section class="admin-header">
    <div class="container">
        <h1>Édition de contenu</h1>
    </div>
</section>

<section class="admin-form">
    <div class="container">
        {# Formulaire d'édition vide #}
    </div>
</section>
{% endblock %}
